nav {
  display: flex;
  width: 100%;
  height: 70px;
}

.nav-bar {
  display: flex;
  width: 100%;
  height: 50px;
  list-style: none;
  justify-content: space-between;
  margin-top: 10px;
}

.nav-item {
  width: 100%;
}

.contenedor-logo {
  width: 100%;
  margin-left: 10px;
}

.contenedor-sesion-moneda {
  display: flex;
  width: 20%;
 
}

.contenedor-sesion {
  width: 50%;
}

.nav-item-sesion {
  width: 50%;
}
.contenedor-moneda {
  display: flex;
  width: 50%;
}

.numero{
  display: flex;
 width: 100%;
}

.nav-item-monedas {
  width: 100%;
  display: flex;
}


.moneda{
 width: 100%;
 display: flex;
}

.circulo {
  display: flex;
  border-radius: 100%;
  background: #f8b013;
  width: 50%;
  height: 15px;
}

@media (max-width:1111px) {

  .nav-bar{
    justify-content: flex-start;
  }

  .nav-item{
    margin-right: 10px;
  }
}

@media (max-width:350px){

  .contenedor-sesion{
   margin-right: 30px;
  }
  
}