.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80px;
}

.contenedor-icono-nombre-monedas {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}

.contenedor-icono {
  display: flex;
  width: 50%;
  height: 100%;

  border: 8px solid pink;
}

.logo {
  width: 39px;
  height: 36px;
  margin-top: 22px;
  margin-left: 42px;
}

.contenedor-botones {
  display: flex;
  width: 12%;
  height: 100%;
  justify-content: space-between;
  margin-top: 16px;
}

.boton-iniciar {
  width: 94px;
  height: 48px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: transparent;
  color: gray;
}

.boton-monedas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 103px;
  height: 48px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: gainsboro;
  border-color: transparent;
  color: gray;
}

.circulo {
  display: flex;
  background-image: radial-gradient(50% -18%, #ffcf00 50%, #f7ae15 100%);
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: #f8b013;
  width: 15px;
  height: 15px;
}


